body {
    background-color: rgb(179, 179, 179);
    height: 100vh;
}

.logo {
    padding: 5px;
    text-align: center;
}

.logo img {
    width: 30%;
    height: auto;
}

.area {
    display: flex;
    height: 95vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-weight: 400;
}

.login {
    padding: 20px;
    width: 100%;
    max-width: 300px;
    background-color: white;
    border-top-left-radius: 10%;
    border-end-end-radius: 10%;
}

.remember {
    padding-top: 5px;
    padding-bottom: 5px;
}

label {
    padding-top: 5px;
}

.redes-sociais {
    margin-top: 10px;
}

.redes-sociais img {
    padding: 5px;
}