body {
    background-color: #f2f2f2;
    height: 100vh;
}

.logo {
    padding: 5px;
    text-align: center;
}

.logo img {
    width: 30%;
    height: auto;
}

.area {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-weight: 400;
}

.login {
    padding: 20px;
    width: 100%;
    max-width: 380px;
    background-color: #ffffff;
    border-top-left-radius: 10%;
    border-end-end-radius: 10%;
}

.remember {
    padding-top: 5px;
    padding-bottom: 5px;
}

label {
    padding-top: 5px;
}

.redes-sociais {
    margin-top: 5px;
}

.redes-sociais img {
    width: 20px;
    height: auto;
}

@media (max-width: 400px) {
    .login {
        max-width: 300px;
    }
}